.threeDotSpinner {
  text-align: center;

  & div {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 3px;
    background-color: black;
    border-radius: 50%;
    animation: sk-bouncedelay 1.4s infinite;
  }
  & .bounce1 {
    animation-delay: -0.32s;
  }
  & .bounce2 {
    animation-delay: -0.16s;
  }
}

.rect {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: black;
  animation: sk-bouncedelay 1.4s;
  animation-timing-function: ease;
  //アニメーションが開始するまでの遅延時間
  animation-delay: 1s;
  // 繰り返し回数
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
.paused {
  animation-play-state: paused;
}

@keyframes sk-bouncedelay {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
  // 80% {
  //   transform: scale(0);
  // }
  // 100% {
  //   transform: scale(0);
  // }
}
