a {
  margin: 4px;
  &:visited {
    color: red;
  }

  &:hover {
    color: orange;
  }

  &:focus {
    color: green;
  }

  &:active {
    color: brown;
  }
  // 偶数だけ振る(evenでも可)
  &:nth-child(2n) {
    color: aqua;
  }
  // 奇数になる
  &:nth-child(odd) {
    color: cadetblue;
  }
  &:nth-child(4) {
    color: purple;
  }
}
